<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link href= "style.css" rel="stylesheet" type="text/css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Yeseva+One&display=swap" rel="stylesheet">
        <!-- <style type="text/css">
        </style> -->
        <title>gitPub</title>
    </head>
    <body>
        <h1>At foo bar</h1>
        <h2>
            <% let al = meal.name; %>
            <% let mealUp = al.charAt(0).toUpperCase() + al.slice(1) %>
            <%= mealUp %>
        </h2>
        <img src=<%= meal.image %>/>
        <h3>
            SGD $<%= meal.price %>
        </h3>

        <a href="/food">Back</a>

    </body>
    <footer>
    <script type="text/javascript">
        document.write("Copyright &copy; " + new Date().getFullYear() + ", gitPub");
    </script>
    </footer>
</html>